<div class="wrapper-main">
    <a href="auth">Авторизация</a>
    <a href="register">Регистрация</a>
    <a href="chats">Чаты</a>
    <a href="settings">Настройки</a>
    <a href="404">Страница не найдена</a>
    <a href="500">Серверная ошибка</a>
</div>